<style type="text/css">
.statistics-img{ max-width:100%;}
</style>
<ion-view view-title="报表">
  <ion-content class="padding">
	<div class="card">
	  <div class="item item-divider">
	    2015年09月收入来源分析
	  </div>
	  <div class="item item-text-wrap">
	    <img src="img/chart-1.png" class="statistics-img">
	  </div>
	</div>    
	<div class="card">
	  <div class="item item-divider">
	    2015年收入趋势分析
	  </div>
	  <div class="item item-text-wrap">
	    <img src="img/chart-2.png" class="statistics-img">
	  </div>
	</div>  

	<div class="card">
	  <div class="item item-divider">
	    2015年门店收入TOP5分析
	  </div>
	  <div class="item item-text-wrap">
	    <img src="img/chart-3.png" class="statistics-img">
	  </div>
	</div> 

  </ion-content>
</ion-view>
