
<style type="text/css" media="screen">
.article-comment-publish .scroll{ height: 100%; }
.article-comment-publish label{ height: 100%; display: block;}
.article-comment-content{ width: 100%; padding: 1em .5em 0; resize: none;}
.article-comment-content-tips{border: 1px solid #999;color: #999;margin: .5em;padding: .5em;border-radius: .5em;}
</style>

<ion-view view-title="评论">
	<!-- 底部按钮 -->
  <a class="article-detail-buttom-button article-detail-buttom-button-back" ng-click="goBack()"><span class="icon ion-ios-arrow-thin-left"></span></a>

	<!-- 顶部导航 -->
  <ion-nav-bar class="bar-eyeopener">
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-paper-airplane" ng-click="submit()">发布</button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <!-- 主区域 -->
  <ion-content class="article-comment-publish">
    <div class="article-comment-content-tips">
      {{comment.tips}}
    </div>
    <label for="article-comment-content">
      <textarea id="article-comment-content" name="article-comment-content" class="article-comment-content" ng-model="comment.content" placeholder="{{comment.placeholder}}" eo-focus-me></textarea>
    </label>
  </ion-content>
</ion-view>
