
<style type="text/css" media="screen">
.article-detail-buttom-button{ position: fixed; bottom: 1em; z-index:9; border-radius:50%; border:0; display:block; width:3em; height: 3em; background-color: rgba(0,0,0,0.9);}
.article-detail-buttom-button-back{ left: 1em;}
.article-detail-buttom-button-comment{ right: 1em;}
.article-detail-title,.article-detail-content, .article-detail-comment{ margin: 0 10px;}
.article-detail-title{ font-size: 18px; color: rgb(34, 34, 34); line-height: 1.7; padding-top: 5px;margin-bottom: 5px;}
.article-detail-content{white-space: pre-line; font-size: 15px; color: rgb(34, 34, 34); line-height: 1.7;}
</style>

<ion-view view-title="">
	<!-- 底部按钮 -->
  <a class="article-detail-buttom-button article-detail-buttom-button-back" ng-click="goBack()"></a>

  <a class="article-detail-buttom-button article-detail-buttom-button-comment" ng-click="goComment()"></a>

	<!-- 顶部导航 -->
  <ion-nav-bar class="bar-eyeopener">
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-ios-eye-outline"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <!-- 主区域 -->
  <ion-content>
    <h2 class="article-detail-title">{{article.title}}</h2>
    <div class="article-detail-content">{{article.context}}</div>
    <div class="article-detail-comment">
      <ion-list>
        <ion-item ng-repeat="comment in comments">
          <h2>{{comment.user.uname}}:</h3>
          {{comment.context}}
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
