
<style type="text/css" media="screen">
.feed-item{padding: 8px 16px;}
#submitQuestion{ position: fixed; right:1em; bottom: 1em; z-index:9; border-radius:50%; border:0; display:block; width:3em; height: 3em; background-color: rgba(0,0,0,0.9);}
.feed-main .qustion-source{color:#999; font-size:14px; line-height:1.6;padding-right: 2em;  position: relative;}
.feed-main .qustion-source a{color:#259;}
.feed-main .qustion-source img{ position: absolute; top:0; right:0; width: 1.5em;border-radius: 50%;}
.feed-main .qustion-content h2{  color: #222; font-size:18px; line-height: 1.6; font-weight: bold;}
.feed-main .qustion-content{ display: block; text-decoration: none; }
.feed-main .qustion-content .qustion-vote{ font-size: 14px;padding: 0em; border-radius: .2em;position: absolute; left:0; top: 0; background-color: rgb(92,181,255); color:white; width: 2.8em; text-align: center;}
.feed-main .qustion-content .qustion-summary{ position: relative;padding-left: 3em; font-size:16px; line-height:1.2; color:#222;word-wrap: break-word;white-space: normal; color:rgb(112,112,112);}
</style>

<ion-view view-title="">
	<!-- 右下角按钮 -->
	<a id="submitQuestion" href="#/app/article/create" class="button button-icon icon ion-ios-plus-empty" style="color:white;">
    
  </a>
	<!-- 顶部导航 -->
    <ion-nav-bar class="bar-eyeopener">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
		<div class=" item-input-inset">
		  <label class="item-input-wrapper" style="background-color: rgb(62,157,237);">
		    <i class="icon ion-ios-search placeholder-icon"></i>
		    <input type="search" value="搜索问题／专题" style="width:16em;color:rgba(255,255,255,0.8);text-align: center;">
		  </label>
		</div>
        <button class="button button-icon button-clear ion-ios-eye-outline">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

  	<ion-content>

      <ion-item ng-repeat="question in questions" class="feed-item">
      	<div class="feed-main">
      		<div class="qustion-source">
      			来自 <a>{{question.aType | typeName}}</a>
      			<img ng-src="img/category/{{question.aType}}.png">
      		</div>
      		<div class="qustion-content" ng-click="gotoArticleDetail(question)">
       			<h2>{{question.title}}</h2>
      			<div class="qustion-summary"><span class="qustion-vote">{{question.likes}}</span>{{question.context}}</div>     			
      		</div>
      	</div>
      </ion-item>

  	</ion-content>
</ion-view>
