
<style type="text/css" media="screen">
.article-create-buttom-button{ position: fixed; bottom: 1em; z-index:9; border-radius:50%; border:0; display:block; width:3em; height: 3em; background-color: rgb(0,0,0); opacity: 0.8;text-align: center; padding-top: .5em;}
.article-create-buttom-button span{ font-size: 2em;color: white;}
.article-create-buttom-button-back{ left: 1em;}
.article-create-input{ width: 100%; height: 5em;padding: .5em; resize: none;}
.article-create-tabs{ background-color: #3886e9; padding-left: 1em;}
.article-create-tab{ color: white; font-size: 18px; padding: .5em 1em; border-bottom:3px solid #3886e9; display: inline-block;font-weight: bold;}
.article-create-tab.article-create-tab-active{border-bottom-color: white;}
.article-create .scroll{height: 100%;}
.article-create .slider-pager{display: none;}
.article-create .item-thumbnail-left img{width: 2em!important; height: 2em!important;}
.article-create .item .item-content{ padding-left: 3.5em;min-height: 2.5em;padding-bottom: 8px;}
</style>

<ion-view view-title="添加问题">
  <!-- 底部按钮 -->
  <a class="article-create-buttom-button article-create-buttom-button-back" ng-click="goBack()"><span class="icon ion-ios-arrow-thin-left"></span></a>

	<!-- 顶部导航 -->
  <ion-nav-bar class="bar-eyeopener">
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-paper-airplane" ng-click="submit()">发布</button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <!-- 主区域 -->
  <ion-content class="article-create">
    <div class="article-create-tabs">
      <div class="article-create-tab" ng-click="changeSlide(0)" ng-class="tabActive == 0 ? 'article-create-tab-active':''">问题</div>
      <div class="article-create-tab" ng-click="changeSlide(1)" ng-class="tabActive == 1 ? 'article-create-tab-active':''">描述</div>
      <div class="article-create-tab" ng-click="changeSlide(2)" ng-class="tabActive == 2 ? 'article-create-tab-active':''">话题</div>
    </div>
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="box">
          <textarea placeholder="请输入问题" class="article-create-input" msd-elastic ng-model="article.title"></textarea>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <textarea placeholder="请输入描述,为了更好的解决您的问题，请至少输入30字" class="article-create-input" msd-elastic ng-model="article.context"></textarea>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <ion-list>
            <label ng-repeat="type in types" class="item item-thumbnail-left item-radio" style="min-height: 2.5em; padding-left: 0px;">
              <input type="radio" name="atype" value="{{type.id}}" ng-model="article.aType">
              <div class="item-content">
                <img ng-src="{{type.picUrl}}">
                <h2>{{type.name}}</h2>
                <p>{{type.team}}</p>
              </div>
              <i class="radio-icon ion-checkmark balanced"></i>
            </label>
          </ion-list>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
