
<style type="text/css" media="screen">
.article-create-buttom-button{ position: fixed; bottom: 1em; z-index:9; border-radius:50%; border:0; display:block; width:3em; height: 3em; background-color: rgb(0,0,0); opacity: 0.8;text-align: center; padding-top: .5em;}
.article-create-buttom-button span{ font-size: 2em;color: white;}
.article-create-buttom-button-back{ left: 1em;}
.article-create-input{width: 90%; margin-left: 5%; margin-top:2em; border: 1px solid #E6E6E6!important; border-radius: 3px;}
</style>

<ion-view view-title="添加问题">
  <!-- 底部按钮 -->
  <a class="article-create-buttom-button article-create-buttom-button-back" ng-click="goBack()"><span class="icon ion-ios-arrow-thin-left"></span></a>

	<!-- 顶部导航 -->
  <ion-nav-bar class="bar-eyeopener">
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-paper-airplane" ng-click="submit()">发布</button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <!-- 主区域 -->
  <ion-content>
    <input type="text" placeholder="请输入问题" ng-model="article.title" class="article-create-input" style="height: 2em;">
    <textarea placeholder="请输入问题描述" ng-model="article.context" class="article-create-input" style="height: 20em;"></textarea>
  </ion-content>
</ion-view>
