
<style type="text/css" media="screen">
.article-create-buttom-button{ position: fixed; bottom: 1em; z-index:9; border-radius:50%; border:0; display:block; width:3em; height: 3em; background-color: rgb(0,0,0); opacity: 0.8;text-align: center; padding-top: .5em;}
.article-create-buttom-button span{ font-size: 2em;color: white;}
.article-create-buttom-button-back{ left: 1em;}

.article-create-input{ font-size: 16px;border-bottom: 1px solid #e3e3e3; display: block; margin: 1em 1em 0 1em;}
.article-create-input h3{font-size: 1.2em; font-weight: normal;}
.article-create-input textarea{width: 100%; resize: none; color:#666;}
.article-create-input .onFocus{ color: red;}
.article-create-title h3 span{ display: none;}
.article-create-title .onFocus span{ display: initial;}
.article-create-images .col{ padding-top: 0px;}
.article-create-images .button{ margin-top: 0px;}
.article-create-types h3{ position: relative;}
.article-create-types h3 .button{ position: absolute; top: -12px; right: 0px;}
.article-create-images img { width: 100%; display: none; }

</style>

<ion-view view-title="创建问题">
  <!-- 底部按钮 -->
  <a class="article-create-buttom-button article-create-buttom-button-back" ng-click="goBack()"><span class="icon ion-ios-arrow-thin-left"></span></a>

	<!-- 顶部导航 -->
  <ion-nav-bar class="bar-eyeopener">
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-paper-airplane" ng-click="submit()">提交</button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <!-- 主区域 -->
  <ion-content class="article-create">
    <!-- 选择标签 -->
    <div class="article-create-input article-create-types">
      <h3 ng-click="showTypeModal()">选择标签<a class="button button-icon icon-right icon ion-ios-arrow-right">{{article.aTypeName}}</a></h3>
    </div>
    <!-- 话题描述 -->
    <label class="article-create-input article-create-title" for="articleCreateTitle" style="margin-top: 2em;">
      <h3 ng-class="{onFocus: inputTitleFocus}">简述问题 <span>{{article.title.length}}/{{titleMax}}</span></h3>
      <textarea type="text" name="articleCreateTitle" placeholder="请简单描述您有待解决的问题" rows="3" maxlength="{{titleMax}}" ng-focus="inputTitleFocus=true" ng-blur="inputTitleFocus=false" ng-model="article.title"></textarea>
    </label>
    <!-- 补充说明 -->
    <label class="article-create-input article-create-context" for="articleCreateContext">
      <h3 ng-class="{onFocus: inputContextFocus}">补充说明</h3>
      <textarea type="text" name="articleCreateContext" placeholder="如有更详尽的信息请补充" rows="10" ng-focus="inputContextFocus=true" ng-blur="inputContextFocus=false" ng-model="article.context"></textarea>
    </label>
    <!-- 问题图片 -->
    <div class="article-create-input article-create-images">
      <h3>添加图片</h3>
      <div class="row">
        <div class="col" id="articleCreateImage0"><button class="button button-block button-outline icon ion-plus-round" ng-click="getPicture($event)"></button><img src=""></div>
        <div class="col" id="articleCreateImage1"><button class="button button-block button-outline icon ion-plus-round" ng-click="getPicture($event)" style="display: none;"></button></div>
        <div class="col" id="articleCreateImage2"><button class="button button-block button-outline icon ion-plus-round" ng-click="getPicture($event)" style="display: none;"></button></div>      
      </div>
    </div>

  </ion-content>
</ion-view>
