
<style type="text/css" media="screen">
.article-detail-buttom-button{ position: fixed; bottom: 1em; z-index:9; border-radius:50%; border:0; display:block; width:3em; height: 3em; background-color: rgb(0,0,0); opacity: 0.8;text-align: center; padding-top: .5em;}
.article-detail-buttom-button span{ font-size: 2em;color: white;}
.article-detail-buttom-button-back{ left: 1em;}
.article-detail-buttom-button-comment{ right: 1em;}
.article-detail-buttom-button-like{ right: 5em; }
.article-detail-buttom-button-like.liked{ background-color: red; }
.article-detail-buttom-button-share{ right: 9em; }

.article-detail .article-detail-font{ font-size: 15px; color: rgb(34, 34, 34); line-height: 1.7;}
.article-detail  .item{padding: 5px 10px;}

.article-detail-title,.article-detail-content{ margin: 0 10px;}
.article-detail-title{ font-size: 18px; color: rgb(34, 34, 34); line-height: 1.7; padding-top: 5px;margin-bottom: 5px; text-align: center;}
.article-detail-content{white-space: pre-line; font-size: 15px; color: #5A5A5A; line-height: 1.7;}
.article-detail-status{ padding: 14px 10px; border-top: 1px solid #E7E7E7; }
.article-detail-status a{ font-size: 18px; margin-right: .5em;color: #BEBEBE; }
.article-detail-status a:before{ margin-right: 5px; }
.article-detail-comment{ position: relative; padding-left: 3.2em; }
.article-detail-comment .user-header-photo{ position: absolute; left: 0; top:1em;width: 3em;}
.article-detail-comment .user-header-photo img{ width: 100%; max-height: 100%;  border-radius: 50%;}
.article-detail-comment .article-detail-date{ position: relative; font-size: .8em; color: #BEBEBE; }
.article-detail-comment .comment-like{ position: absolute; right: 0; bottom: 0; color: red;font-size: 1.4em;}
.article-detail-comment .comment-like:before{ margin-right: .2em;  }
.article-detail-comment .article-detail-context{color: #5A5A5A; white-space: normal;}
.article-detail-comment .article-detail-context .article-detail-re{color:gray;}
.article-detail-popup{}
.article-detail-popup .popup-head{ display: none; }
.article-detail-popup .popup-body a{ display: block; width: 100%; text-align: center; padding: 1em 0;}
.article-detail-popup .popup-body .ul{ border-bottom: 1px solid rgba(0,0,0,0.2);}
.article-detail-comment-button-image img{width: 34px; height: 34px; border-radius: 50%;}
</style>

<ion-view view-title="{{article.aType | typeName}}">
	<!-- 底部按钮 -->
  <a class="article-detail-buttom-button article-detail-buttom-button-back" ng-click="goBack()"><span class="icon ion-ios-arrow-thin-left"></span></a>

  <a class="article-detail-buttom-button article-detail-buttom-button-comment" ng-click="goComment()"><span class="icon ion-ios-compose-outline"></span></a>

  <a class="article-detail-buttom-button article-detail-buttom-button-like" ng-class="{liked:articleLiked}" ng-click="likeArticle()"><span class="icon ion-ios-heart-outline"></span></a>

  <a class="article-detail-buttom-button article-detail-buttom-button-share" ng-click="shareWX()"><span class="icon ion-ios-upload-outline"></span></a>

	<!-- 顶部导航 -->
  <ion-nav-bar class="bar-eyeopener">
    <ion-nav-buttons side="right">
      <button class="button button-clear article-detail-comment-button-image">
        <img ng-src="{{article.aType | typePic}}" alt="">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <!-- 主区域 -->
  <ion-content class="article-detail" delegate-handle="article-detail-scroll" on-scroll="scrolling()">
    <h2 class="article-detail-title">{{article.title}}</h2>
    <div class="article-detail-content">{{article.context}}</div>
    <div class="article-detail-status">
      <a class="icon ion-ios-heart">{{article.likes}}</a>
      <a class="icon ion-chatboxes">{{article.commentCount}}</a>
    </div>
    <div class="article-detail-comments">
      <ion-list>
        <ion-item ng-repeat="comment in comments" on-tap="popupCommentOpts(comment)">
          <div class="article-detail-comment article-detail-font">
            <a class="user-header-photo">
              <img ng-src="{{comment.user.upic}}" alt="">
            </a>
            <h3 class="article-detail-font">{{comment.user.uname}}</h3>
            <div class="article-detail-date">
              {{comment.buildDate*1000 | date:'yyyy-MM-dd HH:mm:ss' }}
              <span class="icon ion-ios-heart-outline comment-like">{{comment.likes}}</span>
            </div> 
            <div class="article-detail-context"><span ng-show="comment.touser.uname" class="article-detail-re">回复 {{comment.touser.uname}} : </span>{{comment.context}}</div>            
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
