
<style type="text/css" media="screen">
.finder-articles{}
.finder-articles .bar-footer{height: auto;font-size: 14px; padding: 1em; background: transparent;}
.finder-articles .bar-footer .buttons.pull-right{ bottom: auto; top: auto; right: 0em;}
.finder-articles .bar-footer .buttons.pull-right .rbutton{ margin-right: 1em; box-shadow: 0 0 1em #333;}

.finder-articles .bar-footer .rbutton{ font-size: 16px;display: inline-block; width: 4em; height: 4em; background-color: black; border:0; border-radius: 50%; opacity: .8;}

.finder-articles .bar-footer .rbutton span{ line-height: 1em; color: white;}
.finder-articles .bar-footer .rbutton span.num{ font-size: .8em; color: red;padding-top: .1em;}

.finder-articles .header{ position: relative;}
.finder-articles .header img{width: 100%;display: block;}
.finder-articles .header .summary{  position: absolute;bottom: 0;width: 100%;text-align: center;color: white;font-size: 18px;  padding: .5em 0;  font-weight: bold; background-color: rgba(0,0,0,0.4);}
.finder-articles .header .summary span{color: rgb( 255, 204, 0 );}
</style>

<ion-view view-title="{{type.name}}"  class="finder-articles">
	<!-- 右下角按钮 -->

  <!--
  <a class="eo-buttom-button eo-buttom-button-back" ng-click="goBack()"><span class="icon ion-ios-arrow-thin-left"></span></a>
  -->

  <div class="bar bar-footer">
    <div class="buttons">
      <button class="rbutton" ng-click="goBack()">
        <i class="icon ion-ios-arrow-thin-left" style="font-size: 2em; color: white;"></i>
      </button>
    </div>
    <div class="buttons pull-right">
      <button class="rbutton" ng-click="ask()">
        <span>申请<br><span class="num">1000</span></span>
      </button>
      <button class="rbutton" ng-click="challeng()">
        <span>吐槽<br><span class="num">1000</span></span>
      </button>
    </div>
  </div>


	<!-- 顶部导航 -->
  <ion-nav-bar class="bar-eyeopener">  
  </ion-nav-bar>

  <ion-content  class="finder-articles-content">
    <div class="header">
      <img ng-src="{{type.picUrl}}">
      <div class="summary">
        <span>{{type.countArticle}}</span>篇文章
         | <span>{{type.countComment}}</span>评论
         | <span>{{type.countLike}}</span>点赞       
      </div>
    </div>
    <ion-item collection-repeat="question in articles" class="feed-item">
      <div class="feed-main">
        <div class="qustion-source">
          来自 <a>{{question.aType | typeName}}</a>
          <img ng-src="{{question.aType | typePic}}">
        </div>
        <div class="qustion-content" ng-click="gotoArticleDetail(question)">
          <h2>{{question.title}}</h2>
          <div class="qustion-summary">{{question.context}}</div>           
        </div>
        <div class="qustion-footer">
         <span class="icon-status" style="float:left;"><i class="icon ion-ios-clock assertive"></i><a class="text">{{question.buildDate*1000 | date:'MM-dd HH:mm' }}</a></span>
         <span class="icon-status"><i class="icon ion-ios-book assertive"></i><a class="text">{{question.reads}}</a></span>
         <span class="icon-status"><i class="icon ion-chatbox-working assertive"></i><a class="text">{{question.commentCount}}</a></span>
         <span class="icon-status"><i class="icon ion-heart assertive"></i><a class="text">{{question.likes}}</a></span>
        </div>
      </div>
    </ion-item>
  </ion-content>

</ion-view>

<script id="finder_articles_challeng.html" type="text/ng-template">
  <input type="text" ng-model="data.challengContent">
</script>
