
<style type="text/css" media="screen">
.finder-articles{}
/* 调整tabs样式 */
.finder-articles .tabs{ font-size: 16px; height: 2em;}
.finder-articles .tab-item{ font-size: 1em;line-height: 2em;}
.finder-articles .tab-title{ font-size: 1em; font-weight: bold;}
/* .tabs的font-size的高度 */
.finder-articles .finder-articles-content{ padding-top: 16px;}
.finder-articles .pull-right .eo-buttom-button{ padding-top: 0;}
.finder-articles .pull-right .eo-buttom-button span{ font-size: 1.2em; line-height: 2.5em;}
.finder-articles .header{ position: relative;  margin-top: 1em;}
.finder-articles .header img{width: 30%; margin: 0 auto;display: block; padding: .5em 0;}
</style>

<ion-view view-title="{{type.name}}"  class="finder-articles">
	<!-- 右下角按钮 -->

  <!--
  <a class="eo-buttom-button eo-buttom-button-back" ng-click="goBack()"><span class="icon ion-ios-arrow-thin-left"></span></a>
  -->

  <div class="bar bar-footer eo-bar-footer finder-articles-footer">
    <div class="buttons">
      <a class="eo-buttom-button eo-buttom-button-back" ng-click="goBack()"><span class="icon ion-ios-arrow-thin-left"></span></a>
    </div>
    <div class="buttons pull-right">
      <a class="eo-buttom-button" ng-click="ask()"><span>申请</span></a>
      <a class="eo-buttom-button" ng-click="challeng()"><span>吐槽</span></a>
    </div>
  </div>

	<!-- 顶部导航 -->
  <ion-nav-bar class="bar-positive">  
  </ion-nav-bar>
    
  <ion-tabs class="tabs-positive" delegate-handle="finder-list-tabs">
    <ion-tab title="活动通告" ng-click="activeTab(0, '活动通告')"></ion-tab>
    <ion-tab title="经验分享" ng-click="activeTab(1, '经验分享')"></ion-tab>
    <ion-tab title="申请流程" ng-click="activeTab(2, '申请流程')"></ion-tab>
    <ion-tab title="社区讨论" ng-click="activeTab(3, '社区讨论')"></ion-tab>
  </ion-tabs>

  <ion-content  class="finder-articles-content" delegate-handle="finder-articles-content" on-scroll="scrolling()">
    <div class="header" style="background-color: #{{type.bgc}}" ng-show="showHeader">
      <img ng-src="{{type.picUrl}}">
    </div>
    <ion-item collection-repeat="question in articles" class="feed-item">
      <div class="feed-main">
        <div class="qustion-content" ng-class="{true:'has-pic' }[question.pics.length > 0]">
          <h2>{{question.title}}</h2>
          <div class="qustion-summary">{{question.context}}</div>
          <div ng-if="question.pics.length > 0" class="content1stpic">
                <img ng-src="{{question.pics[0].picUrl}}">
          </div>      
        </div>
        <div class="qustion-footer">
         <span class="icon-status" style="float:left;"><i class="icon ion-ios-clock dark"></i><a class="text">{{question.buildDate*1000 | eoReadableTime }}</a></span>
         <span class="icon-status"><i class="icon ion-ios-book dark"></i><a class="text">{{question.reads}}阅读</a></span>
         <span class="icon-status"><i class="icon ion-chatbox-working dark"></i><a class="text">{{question.commentCount}}评论</a></span>
         <span class="icon-status"><i class="icon ion-heart dark"></i><a class="text">{{question.likes}}赞</a></span>
        </div>
      </div>
    </ion-item>
    <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="hasMore()"></ion-infinite-scroll>
  </ion-content>

</ion-view>

<script id="finder_articles_challeng.html" type="text/ng-template">
  <input type="text" ng-model="data.challengContent">
</script>
