<style type="text/css">
.eo-left-side{}
.left-side-user-profile{ text-align: center; padding: 1em 0;}
.left-side-user-profile img{border-radius: 50%; height: 6em;}
.left-side-user-profile label{ display: block; font-size: 14px;color: #999; line-height: 1em;}
.left-side-user-profile .user-profile-name{ display: block; font-size: 18px;color: white; line-height: 2em;}
.left-side-user-statistics .statistics-item{ margin:0; padding: 0; width: 49%; display: inline-block; font-size: 14px; color: white; }
.left-side-user-statistics .statistics-range{ font-size: 2em;}
.left-side-user-statistics .bottom-row{}
.eo-left-side .menu-left{ background-image: url(img/menu_bg.png);background-size: 100% 100%;}
.eo-left-side .eo-left-menu .item{ background-color: transparent!important; border:0px;border-top: 1px solid rgba(255,255,255, .1); padding: 12px 16px;}
.eo-left-side .eo-left-menu-item{display: block; color: white;font-size: 14px;}
.eo-left-side .eo-left-menu-item .icon{font-size: 1.4em; display: inline-block;width: 1.4em; line-height: 1.4em; text-align: center;border-radius: 50%; color: white;vertical-align: middle; margin-right: .5em;}
.eo-left-side .eo-left-menu-item.menu-item-read .icon{ background-color: rgb( 255, 204, 0 );}
.eo-left-side .eo-left-menu-item.menu-item-like .icon{ background-color: rgb( 241, 158, 194 );}
.eo-left-side .eo-left-menu-item.menu-item-comment .icon{ background-color: rgb( 81, 162, 204 );}
.eo-left-side .eo-left-menu-item.menu-item-ask .icon{ background-color: rgb( 169, 149, 221 );}
.eo-left-side .eo-left-menu-item.menu-item-setting .icon{ background-color: rgb( 235, 104, 119 );}
.eo-left-side .eo-left-menu-item.menu-item-service .icon{ background-color: rgb( 84, 165, 12 );}
</style>
<ion-side-menus enable-menu-with-back-views="false" class="eo-left-side">
  <ion-side-menu-content>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <div class="left-side-user-profile">
        <img ng-src="{{me.upic}}"  ng-click="login()">
        <label>让门店老板赚钱更轻松！</label>
        <span class="user-profile-name">{{me.cname}}</span>
        <div class="left-side-user-statistics">
          <div class="statistics-item">
            <div class="top-row">
              <span class="statistics-range">{{uprofile.likeRank}}</span><span>名</span>
            </div>
            <div class="bottom-row">
              共{{uprofile.like}}赞
            </div>
          </div>
          <div class="statistics-item">
            <div class="top-row">
              <span class="statistics-range">{{uprofile.awardRank}}</span><span>名</span>
            </div>
            <div class="bottom-row">
              共{{uprofile.award}}分
            </div>
          </div>
        </div>
      </div>
      <ion-list class="eo-left-menu">
        <!-- 阅读 -->
        <ion-item menu-close  ng-click="view('read')">
          <a class="eo-left-menu-item menu-item-read"><i class="icon ion-ios-bookmarks-outline"></i>阅读</a>
        </ion-item>
        <!-- 收藏 -->
        <ion-item menu-close>
          <a class="eo-left-menu-item menu-item-ask" ng-click="view('favorite')"><i class="icon ion-bookmark"></i>收藏({{uprofile.favorite}})</a>
        </ion-item>
        <!-- 设置 -->
        <ion-item ng-click="setting()">
          <a class="eo-left-menu-item menu-item-setting"><i class="icon ion-ios-gear-outline"></i>设置</a>
        </ion-item>
        <!-- 客服 -->
        <ion-item>
          <a class="eo-left-menu-item menu-item-service" href="tel:0755-26600185"  style="text-decoration: none!important;"><i class="icon ion-happy-outline"></i>客服</a>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
