
<style type="text/css" media="screen">
.eo-profile-edit{}
.eo-profile-edit .eo-profile-edit-block{ margin: 1em; border-bottom: 1px solid #e5e5e5;}
.eo-profile-edit .eo-profile-edit-item{ border: 1px solid #e5e5e5; border-bottom:0px; width: 100%; color:#666; padding: .5em; display: block;}

.eo-profile-edit .eo-profile-edit-block h3{ font-size: 1.2em; line-height: 2em; margin:0;}

/* 数据修改后的样式 */
.eo-profile-edit .eo-profile-edit-block .ng-dirty{ color: red }


/* 头像 */
.eo-profile-edit .eo-profile-edit-header{text-align: center;}
.eo-profile-edit .eo-profile-edit-header img{ width: 40%;}

/* 个人信息 */
.eo-profile-edit-person .eo-profile-edit-name{display: block; width: 100%; }
.eo-profile-edit-person .eo-profile-edit-sex{  display: table; padding: 0;}
.eo-profile-edit-person .eo-profile-edit-sex label{ display: table-cell; text-align: center; padding: .5em;}
.eo-profile-edit-person .eo-profile-edit-sex label.active{ background-color: #5edaff; color: white;}
.eo-profile-edit-person .eo-profile-edit-sex input[type=radio]{ display: none;}

/* 个人简介 */
.eo-profile-edit-desc textarea{ resize: none; width: 100%;}

/* 门店资料 */
.eo-profile-edit-store{}
</style>

<ion-view view-title="编辑资料" class="eo-profile-edit">

	<!-- 顶部导航 -->
  <ion-nav-bar class="bar-eyeopener">
    <ion-nav-buttons side="right">
      <button class="button button-clear" ng-click="submit()">完成</button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <!-- 主区域 -->
  <ion-content class="eo-profile-edit-content">
    <form name="eoProfileEditForm" ng-init="setFormScope(this)">
      <!-- 头像 -->
      <div class="eo-profile-edit-block eo-profile-edit-header" ng-click="openHeaderEdit($event)">
        <img ng-src="{{user.upic}}">
      </div>
      <!-- 个人信息 -->
      <div class="eo-profile-edit-block eo-profile-edit-person">
        <input type="text" class="eo-profile-edit-item eo-profile-edit-name" name="cname" ng-model="user.cname">
        <div class="eo-profile-edit-item eo-profile-edit-sex">
          <label for="#userSexMale" ng-class="{true:'active'}[user.male == 1]">
            <input type="radio" value=1 id="userSexMale" name="male" ng-model="user.male">
            <i class="icon ion-male"></i> 男
          </label>
          <label for="#userSexFemale" ng-class="{true:'active'}[user.male == 0]">
            <input type="radio" value=0 id="userSexFemale" name="male" ng-model="user.male">
            <i class="icon ion-female"></i> 女
          </label>
        </div>
      </div>
      <!-- 个人简介 -->
      <div class="eo-profile-edit-block eo-profile-edit-desc">
        <h3>个人简介</h3>
        <textarea class="eo-profile-edit-item" rows="3" name="description" ng-model="user.description"></textarea>
      </div>
      <!-- 门店资料 -->
      <div class="eo-profile-edit-block eo-profile-edit-store">
        <h3>门店资料</h3>
        <input type="text" class="eo-profile-edit-item" name="storeName" placeholder="请输入门店名称" ng-model="user.storeName">
        <label for="storeBussiness" class="eo-profile-edit-item eo-profile-edit-storeBussiness"  ng-click="openBussinessModal($event)">
          {{user.bType | eoBussinessId2Name}}
          <input type="hidden" class="eo-profile-edit-storeBussiness" name="bType" ng-model="user.bType">
        </label>
        <input type="text" class="eo-profile-edit-item" name="storeaddr" placeholder="门店地址" ng-model="user.storeaddr">
      </div>
      <!-- 获得项目 -->
      <div class="eo-profile-edit-block eo-profile-edit-service">
        <h3>获得项目</h3>
      </div>
    </form>
  </ion-content>

  <!-- 底部按钮 -->
  <div class="bar bar-footer eo-bar-footer eo-profile-edit-footer">
    <div class="buttons">
      <a class="eo-buttom-button eo-buttom-button-back" ng-click="goBack()"><span class="icon ion-ios-arrow-thin-left"></span></a>
    </div>
  </div>

</ion-view>

<script id="profile_edit_store_bussiness.html" type="text/ng-template">
<ion-modal-view>
  <ion-content ng-click="closeBussinessModal()">
    <div class="list">
      <label class="item item-radio" ng-repeat="b in bussiness" ng-click="setBtype(b)">
        <input type="radio" name="user.bussiness" value="{{b.id}}">
        <div class="item-content">
          {{b.name}}
        </div>
        <i class="radio-icon ion-checkmark balanced"></i>
      </label>    
    </div>
  </ion-content> 
</ion-modal-view>
</script>

<script id="profile_edit_header.html" type="text/ng-template">
  <ion-popover-view class="">
    <ion-header-bar>
      <h1 class="title">请选择要使用的应用</h1>
    </ion-header-bar>
    <ion-content>
      <div>
        <a><img>图库</a>
        <a><img>相机</a>
      </div>
    </ion-content>
  </ion-popover-view>
</script>
