
<style type="text/css" media="screen">
.eo-profile-wallet{}
</style>

<ion-view view-title="我的钱包" class="eo-profile-wallet">

	<!-- 顶部导航 -->
  <ion-nav-bar class="bar-eyeopener">
    <ion-nav-buttons side="right">
      <button class="button button-clear">明细</button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <!-- 主区域 -->
  <ion-content class="eo-profile-edit-content">
  </ion-content>

  <!-- 底部按钮 -->
  <div class="bar bar-footer eo-bar-footer eo-profile-edit-footer">
    <div class="buttons">
      <a class="eo-buttom-button eo-buttom-button-back" ng-click="goBack()"><span class="icon ion-ios-arrow-thin-left"></span></a>
    </div>
  </div>

</ion-view>
