<style type="text/css">

</style>
<ion-view>
  <ion-content>
    <ion-slide-box>
      <ion-slide>
        <ion-item collection-repeat="question in questions" class="feed-item">
          <div>
            <h2>{{question.title}}</h2>
            <div>{{question.context}}</div> 
          </div>
        </ion-item>
      </ion-slide>
    </ion-slide-box>
    
    <!--
        <ion-item collection-repeat="question in questions" class="feed-item">
          <div>
            <h2>{{question.title}}</h2>
            <div>{{question.context}}</div> 
          </div>
        </ion-item>
    <ion-slide-box>
      <ion-slide>
        <ion-item collection-repeat="question in questions" class="feed-item">
          <div>
            <h2>{{question.title}}</h2>
            <div>{{question.context}}</div> 
          </div>
        </ion-item>
      </ion-slide>
    </ion-slide-box>
    -->
  </ion-content>
</ion-view>
